<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.default</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默認</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[):]</string>
			<key>cht</key>
			<string>[):]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>weixiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[开心]</string>
			<key>cht</key>
			<string>[开心]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>yes.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大笑]</string>
			<key>cht</key>
			<string>[大笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>daxiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[顽皮]</string>
			<key>cht</key>
			<string>[顽皮]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>naughty.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[贪财]</string>
			<key>cht</key>
			<string>[贪财]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>money.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好主意]</string>
			<key>cht</key>
			<string>[好主意]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>idear.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>cht</key>
			<string>[疑问]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>question.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[思考]</string>
			<key>cht</key>
			<string>[思考]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>think.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挠头]</string>
			<key>cht</key>
			<string>[挠头]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>why.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[打招呼]</string>
			<key>cht</key>
			<string>[打招呼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>hello.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:D]</string>
			<key>cht</key>
			<string>[:D]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[幻想]</string>
			<key>cht</key>
			<string>[幻想]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>huanxiang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[瞎想]</string>
			<key>cht</key>
			<string>[瞎想]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xiangrufeifei.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[*-)]</string>
			<key>cht</key>
			<string>[*-)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>buli.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[委屈]</string>
			<key>cht</key>
			<string>[委屈]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>weiqu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[斜视]</string>
			<key>cht</key>
			<string>[斜视]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xieshi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:(]</string>
			<key>cht</key>
			<string>[:(]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>aishang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-#]</string>
			<key>cht</key>
			<string>[:-#]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>kouzhao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[呕吐]</string>
			<key>cht</key>
			<string>[呕吐]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>outu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[怒骂]</string>
			<key>cht</key>
			<string>[怒骂]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>numa.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[中毒]</string>
			<key>cht</key>
			<string>[中毒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>zhongdu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-o]</string>
			<key>cht</key>
			<string>[:-o]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>jingya.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[+o(]</string>
			<key>cht</key>
			<string>[+o(]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>jingxia.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>cht</key>
			<string>[闭嘴]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>bizui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挨打]</string>
			<key>cht</key>
			<string>[挨打]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>aida.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鄙视]</string>
			<key>cht</key>
			<string>[鄙视]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>bishi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[恭喜]</string>
			<key>cht</key>
			<string>[恭喜]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>gongxi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[囧样]</string>
			<key>cht</key>
			<string>[囧样]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>jiong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8-|]</string>
			<key>cht</key>
			<string>[8-|]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xiaoxixi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[^o)]</string>
			<key>cht</key>
			<string>[^o)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>jianhua.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:@]</string>
			<key>cht</key>
			<string>[:@]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>nu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[真棒]</string>
			<key>cht</key>
			<string>[真棒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>zhenbang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[耶耶]</string>
			<key>cht</key>
			<string>[耶耶]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ye.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>cht</key>
			<string>[偷笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xiaobuluchi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:p]</string>
			<key>cht</key>
			<string>[:p]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>tushetou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[满意]</string>
			<key>cht</key>
			<string>[满意]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>manyi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[示爱]</string>
			<key>cht</key>
			<string>[示爱]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shiai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[|-)]</string>
			<key>cht</key>
			<string>[|-)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shuijiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[冻僵]</string>
			<key>cht</key>
			<string>[冻僵]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>dongjiang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[傻眼]</string>
			<key>cht</key>
			<string>[傻眼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shayan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8o|]</string>
			<key>cht</key>
			<string>[8o|]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shaxiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕眩]</string>
			<key>cht</key>
			<string>[晕眩]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>yunxuan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可爱]</string>
			<key>cht</key>
			<string>[可爱]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>keai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[伤心]</string>
			<key>cht</key>
			<string>[伤心]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shangxin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生病]</string>
			<key>cht</key>
			<string>[生病]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shengbing.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[病重]</string>
			<key>cht</key>
			<string>[病重]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>bingzhong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:$]</string>
			<key>cht</key>
			<string>[:$]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>jingdai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:&apos;(]</string>
			<key>cht</key>
			<string>[:&apos;(]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>leiliumanmian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大哭]</string>
			<key>cht</key>
			<string>[大哭]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>daku.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[投降]</string>
			<key>cht</key>
			<string>[投降]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>touxiang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[道歉]</string>
			<key>cht</key>
			<string>[道歉]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>daoqian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[乖乖]</string>
			<key>cht</key>
			<string>[乖乖]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>guaiguai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>cht</key>
			<string>[奋斗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>fendou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发现]</string>
			<key>cht</key>
			<string>[发现]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>faxian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[({)]</string>
			<key>cht</key>
			<string>[({)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>huaxin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(H)]</string>
			<key>cht</key>
			<string>[(H)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shuai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[受伤]</string>
			<key>cht</key>
			<string>[受伤]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>shoushang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咬牙]</string>
			<key>cht</key>
			<string>[咬牙]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>yaoya.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>cht</key>
			<string>[礼物]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>liwu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(F)]</string>
			<key>cht</key>
			<string>[(F)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xianhua.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[枯萎]</string>
			<key>cht</key>
			<string>[枯萎]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>kuwei.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(D)]</string>
			<key>cht</key>
			<string>[(D)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>dianzan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>cht</key>
			<string>[握手]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>woshou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>cht</key>
			<string>[鼓掌]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>guzhang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[搞定]</string>
			<key>cht</key>
			<string>[搞定]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ok.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(|)]</string>
			<key>cht</key>
			<string>[(|)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>aixin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(u)]</string>
			<key>cht</key>
			<string>[(u)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xinsui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>cht</key>
			<string>[骷髅]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>kulou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[信封]</string>
			<key>cht</key>
			<string>[信封]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>xinfeng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[干杯]</string>
			<key>cht</key>
			<string>[干杯]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>cheer.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(k)]</string>
			<key>cht</key>
			<string>[(k)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>zui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(#)]</string>
			<key>cht</key>
			<string>[(#)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>sun.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(*)]</string>
			<key>cht</key>
			<string>[(*)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>star.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(R)]</string>
			<key>cht</key>
			<string>[(R)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>rainbow.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(W)]</string>
			<key>cht</key>
			<string>[(W)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>leaf.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[炸弹]</string>
			<key>cht</key>
			<string>[炸弹]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>bomb.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(S)]</string>
			<key>cht</key>
			<string>[(S)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>moon.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:s]</string>
			<key>cht</key>
			<string>[:s]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:|]</string>
			<key>cht</key>
			<string>[:|]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(a)]</string>
			<key>cht</key>
			<string>[(a)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[&lt;o)]</string>
			<key>cht</key>
			<string>[&lt;o)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-*]</string>
			<key>cht</key>
			<string>[:-*]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8-)]</string>
			<key>cht</key>
			<string>[8-)]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
